body {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    text-align: center;
    margin: 0;
}

button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}

.center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.centerImage {
    display: block;
    margin: auto;
}

.footer {
    height: 50px;
    width: 100%;
    color: #70757a;
    background-color: #f3f3f2;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-right: 0;
    padding-top: 10px;
}

.footer a {
    color: #70757a;
}

.search {
    font-size: 16px;
    color: #3c4043;
    width: 480px;
    height: 34px;
    margin: 10px;
    margin-top: 25px;
    border-radius: 25px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid rgb(196, 196, 196);
}

.search:hover {
    box-shadow: 1px 1px 3px #8888889f;
}

.search:focus {
    outline: none;
}


.smallbutton {
    display:inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8x;
}

.largebutton {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: solid 1px white;
}

.largebutton:hover {
    color: black;
    border: solid 1px #8888889f;
    box-shadow: 1px 1px 3px #8888889f;
}

.top {
    height:75px;
    padding-top:10px;
}

.top a {
    color: black;
}

a {
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}

a.above {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

a.bottom {
    margin-left: 10px;
    margin-right: 10px;
}

.leftsection1 {
    position: absolute;
    left: 20px;
    display: inline-block;
    text-align: left;
    padding: 11px;
}

.rightsection1 {
    position: absolute;
    right: 20px;
    display: inline-block;
    text-align: right;
}

.subsection {
    text-align: center;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.leftsection2 {
    position: absolute;
    left: 20px;
    display: inline-block;
    text-align: left;
}

.rightsection2 {
    position: absolute;
    right: 20px;
    display: inline-block;
    text-align: right;
}

a.above-nohover {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.dots {
    position: relative;
    top: 5px;
    height: 24px;
    width: 24px;
}