body {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    text-align: center;
}

button {
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}

.center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.centerImage {
    
    display: block;
    margin: auto;
}

#header {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0;
}

#footer {
    height: 50px;
    width: 100%;
    color: #70757a;
    background-color: #f3f3f2;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-right: 0;
}